.brand-logo {
    padding-left: 10px !important;
}

#logo-tec {
    margin: auto !important;
    width: 30% !important;
}

#evaluateBtn, #learnBtn, #exploreBtn {
    color: floralwhite;
}

.nav-wrapper a {
    color: floralwhite;
}

body {
    background-color: floralwhite;
}

#logo {
    padding-top: 5%;
    padding-bottom: 4%;
}

.hoverable {
    cursor: pointer;
}

.card {
    margin: 0 !important;
}

#exploreBtn, #learnBtn, #evaluateBtn, .container {
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: 0s;
}

.collapsible-header {
  background-color: #fefbfa;
}
.collapsible-body {
  background-color: white;
}

.card-image img {
    height: auto; 
    width: auto; 
    max-height: 180px;
}